@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f6f9;
  
  
  /* border: 1px solid #ececec;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; */
}


@layer components{
  .lastCard {
    @apply md:w-64 md:ml-[-2rem] border-2 border-[#FB1212] last:text-[#D8505C] 
  }
}